# requirements.txt : sirve para listar todas las dependencias (paquetes o librerías) que un proyecto Python necesita 
# para funcionar correctamente, incluyendo las versiones específicas de cada paquete
# Este proyecto no requiere paquetes externos.
# Requiere Python 3.9 o superior.
